@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Antistatic Solutions</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="~/Content/antistatic.css" />
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Antistatic Solutions</h1>
			<p>Keep Moving Forward</p>
		</div>
	</div>
	<div class="container">
		<div class="row panel panel-default">
			<div class="col-md-4">
				<h2>Who We Are</h2>
				<p>
					Antistatic Solutions is a software development firm with years of experience developing dynamic web applications in Microsoft.NET
					technologies (and sometimes other technologies as well).
				</p>
			</div>
			<div class="col-md-4">
				<h2>What We Want</h2>
				<p>
					To provide a solution that is actually useful to you, by implementing <strong>your</strong> priorities.
				</p>
			</div>
			<div class="col-md-4">
				<h2>How We Do It</h2>
				<p>By following an on-going, dynamic process that allows for:</p>
				<ul>
					<li>No big design up front, just priorities</li>
					<li>Do what provides the most value first</li>
					<li>Constant communication to re-evaluate the next step to get your project done</li>
				</ul>

				<p>This process ensures your needs are met, and met quickly.</p>
			</div>
		</div>
		<div class="row panel panel-default">
			<div class="col-md-12">
				<h2>What We Do</h2>
				<p>
					Over the years, experience has shown that gathering all requirements at the start of a project, before doing any work,
					usually results in an unhappy customer. Why? Because it's impossible to know everything you need before you see it!
				</p>

				<p>
					To remedy this, we follow a more iterative process. This means that we start with a high-level view of what you need.
					Next, we order the ideas that we came up with so that the most valuable item is worked on first. This process continues until
					you have everything you need.+
				</p>

				<p>
					Experience has shown that this process provides better results than up-front requirements gathering, and the key is rapid feedback.
					The sooner you get something to interact with, the less surprises you'll have at the end, and the happier you'll be. Momentum breeds success,
					which breeds momentum.
				</p>

				<p>
					<strong>That's what we want to do for you.</strong>
				</p>
			</div>
		</div>
	</div>
	<hr />
	<div class="container">
		<footer>
			&copy; 2008 - @DateTime.Now.Year Antistatic Solutions LLC
			<a href="http://twitter.com/cerikpete" target="_blank">
				<img src="~/Content/images/twitter-icon.png" width="30" height="30" class="pull-right" />
			</a>
		</footer>
	</div>
</body>
</html>